<!DOCTYPE html>
<html>
  <%- include("headerPartial") %>

  <body>
    <a href="/"><button>Volver a la home</button></a>
    <h1>Edite la pelicula</h1>
    <form action="/movies/<%= movie.id %>" method="POST">
      <div>
        <input
          type="text"
          name="title"
          placeholder="title"
          value="<%= movie.title %>"
        />
      </div>
      <div>
        <input
          type="number"
          min="0"
          name="awards"
          placeholder="awards"
          value="<%= movie.awards %>"
        />
      </div>
      <div>
        <input
          type="number"
          name="revenue"
          placeholder="revenue"
          value="<%= movie.revenue %>"
        />
      </div>
      <div>
        <select name="genre">
          <% for (let i = 0; i < genres.length; i++) { %> <% if (genres[i].id ==
          movie.genre_id) {%>
          <option value="<%= genres[i].id %>" selected
            ><%= genres[i].name %></option
          >
          <% } else {%> <% } %>
          <option value="<%= genres[i].id %>"><%= genres[i].name %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label>Release Date</label><input type="date" name="release_date"
        value="<%= moment(movie.release_date).format("YYYY-MM-DD") %>">
      </div>
      <div>
        <label>Length</label
        ><input type="number" name="length" value="<%= movie.length %>" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
